@media (min-width:1400px){.container{width:1370px}
}

@media (min-width:1400px){.article.grid-right {
  margin-left: 470px;
  }
}

@media (min-width:1400px){.sidetoc {
  position: fixed;
  width: 450px;
  top: 150px;
  bottom: 0;
  overflow-x: hidden;
  overflow-y: auto;
  background-color: #f1f1f1;
  border-left: 1px solid #e7e7e7;
  border-right: 1px solid #e7e7e7;
  z-index: 1;
  }
}

@media (min-width:1400px){
    .sidefilter {
    position: fixed;
    top: 90px;
    width: 450px;
    background-color: #f1f1f1;
    padding: 15px;
    border-left: 1px solid #e7e7e7;
    border-right: 1px solid #e7e7e7;
    z-index: 1;
    }
}